{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": "off",
    "no-unused-vars": [
      "error",
      {
        "vars": "local",
        "args": "none"
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "function-paren-newline": "off",
    "react/prop-types": 0,
    "arrow-body-style": "off",
    "consistent-return": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off"
  },
  "plugins": ["react", "jsx-a11y", "import"]
}
